body
{
  color: rgb(4, 255, 45);
  background: #f98cff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(18, 222, 233);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(67, 193, 232);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
